<!DOCTYPE html>
<html>
<head>
  <title>InformationTag</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="leftPart">
      <div class="checkbox">
        <input type="checkbox">
      </div>
      <div class="circle blue">JY</div>
      <div class="name">Jingyi Ding</div>
    </div>
    <div class="centerPart">
      <div class="approaching">APPROACHING</div>
      <div class="appdetail">Student from University of Florida</div>
    </div>
    <div class="rightPart">
      <div class="barcontainer">
        <div class="bar"></div>
      </div>
      <div class="barcontainer">
        <div class="bar"></div>
      </div>
      <div class="barcontainer">
        <div class="bar"></div>
      </div>
      <div class="barcontainer">
        <div class="bar"></div>
      </div>
      <div class="barcontainer">
        <div class="bar"></div>
      </div>
      <div class="barcontainer">
        <div class="bar"></div>
      </div>
      <div class="barcontainer">
        <div class="bar"></div>
      </div>
      <div class="barcontainer">
        <div class="bar"></div>
      </div>
      <div class="barcontainer">
        <div class="bar little"></div>
      </div>
      <div class="barcontainer">
        <div class="bar"></div>
      </div>
      <div class="barcontainer">
        <div class="bar"></div>
      </div>
      <div class="barcontainer">
        <div class="bar half"></div>
      </div>
      <div class="time">4m 2d</div>
      <div class="buttons">
        <div class="button">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="button">
          <i class="fas fa-phone"></i>
        </div>
        <div class="button">
          <i class="fas fa-paper-plane"></i>
        </div>
        <div class="button">
          <i class="fas fa-cloud"></i>
        </div>
        <div class="button">
          <div>in</div>
        </div>
        <div class="button">
          <div>...</div>
        </div>
      </div>
      <div class="circle black">JY</div>
    </div>
  </div>
</body>
</html>
